<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_terrain_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{188,104}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{188,104}}</string>
                <key>sourceSize</key>
                <string>{208,108}</string>
            </dict>
            <key>buildbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,940},{88,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,8}}</string>
                <key>sourceSize</key>
                <string>{88,8}</string>
            </dict>
            <key>buildbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,940},{96,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,16}}</string>
                <key>sourceSize</key>
                <string>{96,16}</string>
            </dict>
            <key>desertRaider_/desertRaider_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,194},{24,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{24,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,742},{24,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,742},{24,32}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,742},{22,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,742},{22,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,246},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{22,26}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,220},{22,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,742},{22,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,742},{24,32}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,742},{24,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,742},{24,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{24,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,208},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{24,26}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,254},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,224},{20,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{20,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,208},{20,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{20,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,172},{20,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,244},{20,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{20,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,292},{20,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,234},{20,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,740},{20,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,740},{20,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,740},{20,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,228},{20,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{20,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,276},{20,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,276},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{20,26}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,222},{20,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{20,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,202},{20,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{20,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,740},{20,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,204},{22,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,272},{20,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{20,24}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,230},{22,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{22,26}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,198},{22,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,742},{22,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{22,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,740},{20,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{20,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,172},{22,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{22,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,270},{22,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{22,24}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,178},{24,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{24,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,50},{34,28}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{34,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,742},{34,30}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{34,30}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,742},{32,26}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{32,26}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,172},{24,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{24,28}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,266},{24,26}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{24,26}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,244},{26,26}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{26,26}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,250},{26,24}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{26,24}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,150},{30,20}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{30,20}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>desertRaider_/desertRaider_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,940},{28,16}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{28,16}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>gui_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{292,294}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>mage shooter_/mage shooter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,134},{36,48}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{36,48}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{34,46}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{34,46}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,138},{38,44}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,24},{38,44}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,164},{42,42}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{42,42}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,966},{44,54}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{44,54}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,52},{44,58}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{44,58}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{48,58}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{48,58}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,958},{48,60}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{48,60}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,52},{40,50}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{40,50}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,98},{38,48}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{38,48}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,124},{38,44}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,24},{38,44}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,80},{42,42}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{42,42}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{44,56}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{44,56}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,230},{44,58}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{44,58}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{48,58}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{48,58}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,960},{48,62}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{48,62}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,966},{40,50}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{40,50}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage shooter_/mage shooter_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,94},{38,48}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{38,48}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>mage/mage_lvl1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,276},{152,118}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{152,118}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{152,118}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{152,118}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,156},{152,118}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{152,118}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,282},{152,118}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{152,118}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,162},{152,118}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{152,118}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,448},{158,120}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{158,120}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,288},{158,120}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{158,120}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{158,120}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{158,120}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{158,120}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{158,120}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,772},{158,120}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{158,120}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,298},{164,136}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{164,136}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,774},{164,136}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{164,136}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,576},{164,136}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{164,136}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,774},{164,136}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{164,136}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>mage/mage_lvl3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,576},{164,136}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{164,136}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>portraits_sc.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,932},{92,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,86}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>portraits_towers_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,76},{72,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{72,68}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>portraits_towers_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{72,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{72,68}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>portraits_towers_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,156},{72,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{72,68}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>portraits_towers_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,940},{72,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{72,68}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>range_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{276,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,276}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>special_icons_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,464},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,108}}</string>
                <key>sourceSize</key>
                <string>{116,108}</string>
            </dict>
            <key>special_icons_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,464},{116,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,108}}</string>
                <key>sourceSize</key>
                <string>{116,108}</string>
            </dict>
            <key>tower_constructing_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,162},{130,84}}</string>
                <key>offset</key>
                <string>{2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,103},{130,84}}</string>
                <key>sourceSize</key>
                <string>{204,192}</string>
            </dict>
            <key>tower_constructing_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,960},{130,60}}</string>
                <key>offset</key>
                <string>{-9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,105},{130,60}}</string>
                <key>sourceSize</key>
                <string>{212,180}</string>
            </dict>
            <key>tower_constructing_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,162},{124,70}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,66},{124,70}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
            <key>tower_constructing_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,950},{128,72}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,97},{128,72}}</string>
                <key>sourceSize</key>
                <string>{216,180}</string>
            </dict>
            <key>tower_preview_archer.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,776},{182,124}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,48},{182,124}}</string>
                <key>sourceSize</key>
                <string>{212,180}</string>
            </dict>
            <key>tower_preview_artillery.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{198,124}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{198,124}}</string>
                <key>sourceSize</key>
                <string>{204,192}</string>
            </dict>
            <key>tower_preview_barrack.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,574},{164,122}}</string>
                <key>offset</key>
                <string>{-21,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,52},{164,122}}</string>
                <key>sourceSize</key>
                <string>{216,180}</string>
            </dict>
            <key>tower_preview_mage.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{152,136}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{152,136}}</string>
                <key>sourceSize</key>
                <string>{188,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kindom-rush.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d363bd15ebc41750bac2352dd02570d:1/1$</string>
            <key>textureFileName</key>
            <string>kindom-rush.png</string>
        </dict>
    </dict>
</plist>
